#intellij
*.iml
*.ipr
*.iws
*.ids
.idea/

#system
.directory

#eclipse
.settings/
.project
.classpath
.gwt-tmp
.gwt
/**/.DS_Store
catalina.base_IS_UNDEFINED/

#maven
target/
test-output/

#jrebel
rebel.xml

bin/